/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

/* Loading screen */
#loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loading {
  width: 5rem;
  animation: pulse 1.2s infinite;
}

#loading-text {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Ensure no scrollbars */
  touch-action: none; /* Prevent default touch gestures */
  overscroll-behavior: none; /* Prevent overscrolling */
}

/* Video */
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire area */
  z-index: -1; /* Place the video behind other content */
}

/* Logo animation */
.logo-container {
  position: absolute;
  top: 15%;
  right: -500%;
  z-index: 100;
  pointer-events: none;
}

.animate-logo {
  animation: fadeInRight 2.5s forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    right: -50%;
  }
  100% {
    opacity: 1;
    right: calc(50% - 307px);
  }
}



/* Navigation list */
.list {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: bold;
}

.mainMenu li {
  display: none;
}

.mainMenu.show li {
  display: block;
  animation: fadeInList 0.5s ease-in-out forwards;
}

.socialMenu li {
  display: none;
}

.socialMenu.show li {
  display: block;
  animation: fadeInList 0.5s ease-in-out forwards;
}

@keyframes fadeInList {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Navigation */
li {
  list-style: none;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
}

li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  padding: 0 10px;
  transition: color 0.3s, text-shadow 0.3s;
  color: rgb(255, 185, 0);
  text-shadow: 0 0 3px black;
}

.horizontalList {
  display: flex;
}

.horizontalList li {
  margin-right: 10px;
}

li a:hover {
  color: white;
  animation: flash 0.5s linear infinite alternate;
}

@keyframes flash {
  0% {
    color: white;
  }
  50% {
    color: #4b4b4b;
  }
  100% {
    color: white;
  }
}

@media (max-width: 768px) {

  .logo-container {
    position: absolute;
    top: 15vh;
    z-index: 100;
    width: 100%;
    margin: auto;
    pointer-events: none;
  }

  .logo-container img {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    pointer-events: none;
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      right: -50%;
    }
    100% {
      opacity: 1;
      right: calc(50% - 195px);
    }
  }

  .video {
    object-fit: cover;
    object-position: 60% center;
  }
  
  ul.list {
    width: 100%; /* Occupy full width of its container */
    text-align: center; /* Center align the list items */
    margin: auto; /* Center the list horizontally */
  }

  .list {
    bottom: 15vh;
  }

  li a {
    font-size: 28px;
  }

  .horizontalList {
    display: block;
  }
}

#black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Disable pointer events */
  transition: opacity 0.5s ease; /* Smooth transition */
  z-index: 999; /* Ensure it's on top of other content */
}
